# analyze_sigs

Notebook for analysis of saved signature data

In [2]:
from pathlib import Path
input_path = Path("../results")

output_path=Path("../results")

In [3]:
input_filename  = "ragsc_analyzed_00_all.csv"
input_path = input_path / Path(input_filename)

In [4]:
import pandas as pd
df = pd.read_csv(input_path)

In [5]:
print(df.shape[0], df.shape[1])

4685 3

In [6]:
total_counts = df.groupby('cluster').size()
total_counts

cluster
0     607
1     561
2     399
3     349
4     351
5     325
6     279
7     258
8     257
9     199
10    189
11    178
12    162
13    141
14    114
15    104
16     89
17     74
18     49
dtype: int64

In [7]:
df['matched'] = (df.predicted-df.cluster==0)
df

      Unnamed: 0  cluster  predicted  matched
0              2        0          0     True
1              4        0          2    False
2              9        0          2    False
3             11        0          0     True
4             15        0          3    False
...          ...      ...        ...      ...
4680        9358       18          0    False
4681        9362       18          4    False
4682        9364       18          0    False
4683        9365       18          0    False
4684        9367       18          4    False

[4685 rows x 4 columns]

In [8]:
clusters =df[df.matched].groupby('cluster').size()
clusters

cluster
0    316
1    117
2     37
3     22
4     16
dtype: int64

In [9]:
matched = df[df['matched']]
matched

      Unnamed: 0  cluster  predicted  matched
0              2        0          0     True
3             11        0          0     True
7             19        0          0     True
9             23        0          0     True
12            27        0          0     True
...          ...      ...        ...      ...
2152        4286        4          4     True
2179        4345        4          4     True
2192        4375        4          4     True
2234        4454        4          4     True
2241        4472        4          4     True

[508 rows x 4 columns]

In [10]:
df.cluster.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18])

In [11]:
# total_counts = df.groupby('cluster').size().reset_index(names='X')
# matching_counts = df[df['cluster']] == df[df['predicted']].groupby('cluster').size()

# result = pd.merge(total_counts, matching_counts, on='cluster', how='left')

In [12]:
df_train = df.sample(frac=0.5)
df_target = df.drop(df_train.index)

In [9]:
#
# store embeddings (based on ragsc.chroma)
#
import chromadb

client = chromadb.Client()
collection = client.create_collection("ragsc")

In [10]:
max_item = df_train.shape[0]

In [11]:
docs = []
embeds = []
ids = []
docs_column = "cluster"
embeddings_column = "embeddings"

In [12]:
for i in range(10):
    print(df[docs_column].iloc[i],df[embeddings_column].iloc[i],df.index[i])

KeyError: 'embeddings'

In [ ]:
df_train.head()