# PostEmbed

Assess the outcome of applying embedit.py

In [1]:
import pandas as pd

In [22]:
df=pd.read_csv("../data/sigs.csv")
df.tail()

,cell_id,cluster,signature
9365,TTACGTTTCCCTGACT,18,FOXP1 NCOA2 SMAP2 TET2 DOCK2 RIPOR2 NAMPT JMJD...
9366,CTAACCTGTAAACAAG,18,USP24 CTSS LYST KANSL1L NAMPT RPL41 PPP1R12A B...
9367,AATTGCCAGAGAGCCG,18,RNF13 LYN MTSS1 CELF2 NEAT1 PHF20 MIS18BP1 PAF...
9368,CTGTATTTCCATAATG,18,LYN NEAT1 ATP2B1 PRKCB DPYD SCLT1 MAP3K1 CD44 ...
9369,CTAAGTCAGGGCTAAA,18,FYB1 SLC8A1 TMSB10 RPS3A RPL5 TPM3 XPR1 STK17B...

In [34]:
df1 = pd.read_csv("../data/embeds.csv")
df1.tail()

,cell_no,cell_id,cluster,signature,embeddings
9365,9365,TTACGTTTCCCTGACT,18,FOXP1 NCOA2 SMAP2 TET2 DOCK2 RIPOR2 NAMPT JMJD...,"[-0.020059625, 0.0036323834, 0.00082780194, -0..."
9366,9366,CTAACCTGTAAACAAG,18,USP24 CTSS LYST KANSL1L NAMPT RPL41 PPP1R12A B...,"[-0.03239223, 0.013038426, 0.008899572, -0.032..."
9367,9367,AATTGCCAGAGAGCCG,18,RNF13 LYN MTSS1 CELF2 NEAT1 PHF20 MIS18BP1 PAF...,"[-0.027599292, 0.005804354, -0.0004061004, -0...."
9368,9368,CTGTATTTCCATAATG,18,LYN NEAT1 ATP2B1 PRKCB DPYD SCLT1 MAP3K1 CD44 ...,"[-0.026094973, 0.0033464879, 0.006022683, -0.0..."
9369,9369,CTAAGTCAGGGCTAAA,18,FYB1 SLC8A1 TMSB10 RPS3A RPL5 TPM3 XPR1 STK17B...,"[-0.024935283, 0.0071060145, -0.0016032481, -0..."

In [35]:
#
# correct redundant column
# 
df_clean = df1.drop(labels="cell_no",axis=1)
df_clean.tail()

,cell_id,cluster,signature,embeddings
9365,TTACGTTTCCCTGACT,18,FOXP1 NCOA2 SMAP2 TET2 DOCK2 RIPOR2 NAMPT JMJD...,"[-0.020059625, 0.0036323834, 0.00082780194, -0..."
9366,CTAACCTGTAAACAAG,18,USP24 CTSS LYST KANSL1L NAMPT RPL41 PPP1R12A B...,"[-0.03239223, 0.013038426, 0.008899572, -0.032..."
9367,AATTGCCAGAGAGCCG,18,RNF13 LYN MTSS1 CELF2 NEAT1 PHF20 MIS18BP1 PAF...,"[-0.027599292, 0.005804354, -0.0004061004, -0...."
9368,CTGTATTTCCATAATG,18,LYN NEAT1 ATP2B1 PRKCB DPYD SCLT1 MAP3K1 CD44 ...,"[-0.026094973, 0.0033464879, 0.006022683, -0.0..."
9369,CTAAGTCAGGGCTAAA,18,FYB1 SLC8A1 TMSB10 RPS3A RPL5 TPM3 XPR1 STK17B...,"[-0.024935283, 0.0071060145, -0.0016032481, -0..."

In [36]:
#
# save corrected dataframe
#
df_clean.to_parquet("../data/embeds.parquet")

In [37]:
df = pd.read_parquet("../data/embeds.parquet")
df.tail()

,cell_id,cluster,signature,embeddings
9365,TTACGTTTCCCTGACT,18,FOXP1 NCOA2 SMAP2 TET2 DOCK2 RIPOR2 NAMPT JMJD...,"[-0.020059625, 0.0036323834, 0.00082780194, -0..."
9366,CTAACCTGTAAACAAG,18,USP24 CTSS LYST KANSL1L NAMPT RPL41 PPP1R12A B...,"[-0.03239223, 0.013038426, 0.008899572, -0.032..."
9367,AATTGCCAGAGAGCCG,18,RNF13 LYN MTSS1 CELF2 NEAT1 PHF20 MIS18BP1 PAF...,"[-0.027599292, 0.005804354, -0.0004061004, -0...."
9368,CTGTATTTCCATAATG,18,LYN NEAT1 ATP2B1 PRKCB DPYD SCLT1 MAP3K1 CD44 ...,"[-0.026094973, 0.0033464879, 0.006022683, -0.0..."
9369,CTAAGTCAGGGCTAAA,18,FYB1 SLC8A1 TMSB10 RPS3A RPL5 TPM3 XPR1 STK17B...,"[-0.024935283, 0.0071060145, -0.0016032481, -0..."

In [38]:
df.shape

(9370, 4)

In [39]:
# 
# divide the dataframe into two components
#
train_df = df.sample(frac=0.5)
test_df = df.drop(train_df.index)
print(train_df.shape)
print(test_df.shape)

(4685, 4)
(4685, 4)

In [42]:
train_df.to_parquet("../data/train.parquet")
test_df.to_parquet("../data/test.parquet")